<title>Alianca Tecnologia</title>

<a id="regionais"></a>
<div>
  <div>

    <h2>Regionais Alianca Espírita Evangelica</h2>

    <mat-spinner id='loading' *ngIf="!regionalData" diameter="100"></mat-spinner>
    <ul>
      <table *ngIf="regionalData" id="regionais">
        <tr>
          <th *ngFor="let param of params">{{param.alias}}</th>
        </tr>
        <tr *ngFor="let regional of regionalData">
            <td *ngFor="let param of params">{{regional[param.name]}}</td>
        </tr>
      </table>
    </ul>
  </div>
</div>


<!-- footer -->
<footer>
  <span>created by Alianca Espirita Evangélica</span>
</footer>
