<footer class="text-center row fundo-final footer mt-auto py-3">
  <div class="fundo-final-siga">
    <p>Siga-nos</p>
  </div>
  <div class="fundo-final-redes">
    <ul>
      <li>
        <a><img class="icon" src="img/instagram.png" /></a>
      </li>
      <li>
        <a><img class="icon" src="img/facebook.png" /></a>
      </li>
    </ul>
  </div>
  <br />
  <div class="fundo-final-alianca">
    <p>Aliança Espírita Evangélica</p>
  </div>
</footer>
