<!-- <footer class="text-center row fundo-final footer mt-auto py-3"> -->
<div class="rodape">
  <div class="rodape-texto">
    <h2>Siga-nos</h2>
  </div>
  <div class="rodape-redes">
    <ul>
      <li>
        <a href="https://www.instagram.com/alianca_espirita_oficial/?igshid=Yzg5MTU1MDY%3D" target="_blank" rel="noopener noreferrer"><img src="img/instagram.png" /></a>
      </li>
      <li>
        <a><img src="img/facebook.png" /></a>
      </li>
    </ul>
  </div>
  <br />
  <p>Aliança Espírita Evangélica</p>
</div>
<!-- </footer> -->
