<nav class="navbar navbar-expand-sm bg-light">
  <div class="cab-logo">
    <img src="img/logo-aee2-completo-vetor.png" />
  </div>
  <div class="cab-menu">
    <ul class="list-group list-group-horizontal">
      <li>
        <a class="nav-link" href="/"> Início </a>
      </li>

      <li>
        <img src="img/botao.contato.png" />
      </li>
    </ul>
  </div>
</nav>
