<div class="cab-logo">
  <a href="//www.alianca.org.br" target="_blank" rel="noopener noreferrer"><img src="img/logo-aee2-completo-vetor.png"/></a>
  <div class="cab-menu">
    <ul>
      <li>
        <a class="nav-link" href="/"> Início </a>
      </li>

      <li>
        <a class="nav-link" href="/logout"> Sair </a>
      </li>
    </ul>
  </div>
</div>
