<div class="cab-logo">
  <img src="img/logo-aee2-completo-vetor.png" />
  <div class="cab-menu">
    <ul>
      <li>
        <a class="nav-link" href="/"> Início </a>
      </li>

      <li>
        <a class="nav-link" href="/logout"> Sair </a>
      </li>
    </ul>
  </div>
</div>
