<div class="col-sm">
  <div
    id="card_<%{regionalInfo.NOME_REGIONAL%>"
    class="card"
    style="width: 18rem"
  >
    <div class="card-body">
      <h5><%regionalInfo.NOME_REGIONAL : regionalInfo.PAIS %></h5>
    </div>
  </div>
</div>
