<title>Alianca Tecnologia</title>

<a id="centros"></a>
<!-- <div class="section-hero">
  <div class="container"> -->
<div>
  <div>

    <h2>Centros Aliança Espírita Evangélica</h2>

      
    <div id="form">
        <mat-form-field MatFormFieldControl appearance="fill" floatLabel="always" id="form-busca">
          <mat-label>Buscar</mat-label>
          <input id="argumento-busca" [(ngModel)]="argumentoPesquisa" matInput>
        </mat-form-field>
        <mat-form-field id="tipo-busca" appearance="fill" floatLabel="always">
          <mat-label>Tipo de busca</mat-label>
          <mat-select [(ngModel)]="tipo">
            <mat-option *ngFor="let tipo of tipoPesquisa" [value]="tipo" ngDefaultControl>
              {{tipo.value}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <button id="pesquisar" (click)="pesquisar()" class="mat-raised-button">PESQUISAR</button>
    </div>
    <!-- </div> -->

    <mat-spinner id ='loading' *ngIf="!centroData" diameter="100"></mat-spinner>
    <ul>
      <table *ngIf="centroData" id="centros">
        <tr>
          <th>Regional</th>
          <th>Nome</th>
          <th>Endereço</th>
          <th>Cidade</th>
          <th>Pais</th>
        </tr>
        <tr *ngFor="let centro of centroData">
          <td>{{centro.ID_REGIONAL  | RegionaisPipe}} </td>
          <td>{{centro.NOME_CURTO}} - {{centro.NOME_CENTRO}} </td>
          <td>{{centro.ENDERECO}} {{centro.NUMERO_ENDERECO}} - {{centro.BAIRRO}} - {{centro.CEP}} </td>
          <td>{{centro.CIDADE}} / {{centro.ESTADO}}</td>
          <td>{{centro.PAIS}}</td>
        </tr>
      </table>
    </ul>
  </div>
</div>


<!-- footer -->
<footer>
  <span>created by Alianca Espirita Evangélica</span>
</footer>
