<title>Alianca Tecnologia</title>

<a id="centros"></a>
<!-- <div class="section-hero">
  <div class="container"> -->
<div>
  <div>
    
    <ul>
      <mat-form-field>
        <mat-label>Filtro</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. AME" #input>
      </mat-form-field>

      <table mat-table [dataSource]="dataSource" id="centros" matSort>

        <ng-container matColumnDef="{{column}}" *ngFor="let column of displayedColumns">
          <th mat-header-cell *matHeaderCellDef> {{displayedColumnsAlias[column]}} </th>
          <td mat-cell *matCellDef="let element">
            <div *ngIf="column=='NOME_CURTO'">
              <mat-icon svgIcon="lupa" aria-hidden="false" aria-label="Example thumbs up SVG icon" (click)="detalhe(element.ID_CENTRO)"></mat-icon>
              {{element[column]}}
            </div>
            <div *ngIf="column!='NOME_CURTO'">
              {{element[column]}}
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"
            class="example-element-row">
        </tr>
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">Não existem centros com esse filtro:"{{input.value}}" Você pode colocar o nome da regional, do centro ou mesmo o pedaço do endereço</td>
        </tr>

      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>

    </ul>
  </div>
</div>


<!-- footer -->
<footer>
  <span>created by Alianca Espirita Evangélica</span>
</footer>
