<div>
    <h3>Atividades do Centro</h3>
    <table *ngIf="atividadeCentroData" id="atividades-centro">
        <tr>
            <th>Atividade</th>
            <th>Horário</th>
            <th> Dia da semana</th>
            <th>Turma</th>
        </tr>
        
        <tr *ngFor="let atividade of atividadeCentroData">
            <td>{{atividade["NOME_ATIVIDADE"]}}</td>
            <td>{{atividade["HORINI"]}} - {{atividade["HORFIM"]}}</td>
            <td>{{atividade["DIA_SEMANA"]}}</td>
            <td>{{atividade["NUMERO_TURMA"]}}</td>
        </tr>
    </table>
</div>
