<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="body">
    <header><%- include('../partials/header'); %></header>

    <main>
      <div class="título">
        <h> Cadastro de Informações </h>
      </div>
      <div class="Botoes">
        <ul>
          <li>
            <b><u>1° Centro Espírita</u></b>
          </li>
          <li>2° Trabalhos de Evangelização</li>
          <li>3° FDJ e Outros Trabalhos</li>
          <li>4° Regional e AEE</li>
          <li>5° Validação</li>
        </ul>
      </div>
      <div class="formulario"></div>
    </main>

    <footer><%- include('../partials/footer'); %></footer>
  </body>
</html>
