<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="body">
    <header class="cabeçalho"><%- include('../partials/header'); %></header>

    <div class="titulo">
      <h2>Seja bem vindo!</h2>

      <form action="/login" method="post">
        <input
          class="form-control"
          id="email"
          name="email"
          type="text"
          value=""
          placeholder="Usuario"
        />

        <input
          class="form-control"
          id="pass"
          name="pass"
          type="password"
          value=""
          placeholder="Senha"
        />

        <button type="submit" class="btn btn-success btn-lg">Acessar</button>
      </form>
    </div>

    <footer><%- include('../partials/footer'); %></footer>
  </body>
</html>
