<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="body">
    <header class="cabeçalho"><%- include('../partials/header'); %></header>

    <div class="titulo">
      <h2>CADASTRO ANUAL AEE</h2>

      <h5>
        Seja bem-vindo à página de cadastro das casas espíritas filiadas à Aliança Espírita Evangélica!<br><br>
        Com o usuário e senha de sua Casa Espírita recebida do seu coordenador regional, você poderá acessar a página do cadastro e atualizar os dados!<br><br>
        Ficou com dúvidas? Entre em contato com o coordenador de sua regional, ou fale com a Secretaria da Aliança (alianca@alianca.org.br // WhatsApp <b>11 3105-5894</b>).
      </h5>

      <form action="/login" method="post">
        <input
          class="form-control"
          id="email"
          name="email"
          type="text"
          value=""
          placeholder="Usuario"
        />

        <p></p>

        <input
          class="form-control"
          id="pass"
          name="pass"
          type="password"
          value=""
          placeholder="Senha"
        />
        <%
        if(message.error){%>
          <p style="color:Tomato;"><%=message.error%></p>
        <%}%>

        <button type="submit" class="btn btn-success btn-lg">Acessar</button>


      </form>
    </div>

    <footer><%- include('../partials/footer'); %></footer>
  </body>
</html>
