<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="body">
    <header class="cabeçalho"><%- include('../partials/header'); %></header>


    <div  class="container-fluid">
      <div id="regionais" class="row">

      </div>
    </div>

    <script>
      $(document).ready(function(){
        console.log('Ready disparado');
        myFunction()
      });
      
      
      function myFunction() {
        var div = document.getElementById("regionais");
        callGetRegionais(div)
      }

      function addCard(regionalInfo){

        let divCard = document.createElement("div");
        divCard.setAttribute("class", "card")
        divCard.setAttribute("style", "width: 18rem;")
        
        let divBody = document.createElement("div")
        divBody.setAttribute("class", "card-body");

        divCard.appendChild(divBody);

        let h5 = document.createElement("h5");
        h5.innerText = regionalInfo.NOME_REGIONAL

        divBody.appendChild(h5)

        let p = document.createElement("p");
        p.setAttribute("class", "card-text")
        p.innerText = "Recuperando Info"
        divBody.appendChild(p);

        let a = document.createElement("a");
        a.setAttribute("class", "btn btn-primary")
        a.setAttribute("href", `/summary_coord?ID=${regionalInfo.ID}`)
        a.innerText = "Ver detalhes"
        divBody.appendChild(a);

        return divCard
      }

      function addRegional(div,regionalInfo){
        console.log(regionalInfo.NOME_REGIONAL)

       
        let divCol = document.createElement("div");
        divCol.setAttribute("class", "col-sm")

        let regionalDiv = addCard(regionalInfo)
        divCol.appendChild(regionalDiv)


        div.appendChild(divCol);

        return regionalDiv;
     
      }

      function setRegionalInfo(div,data){
        let children = div.children[0].children[1]
        console.log("a")
        console.log(data)

        let total = data.centros.length

        let respondido = data.summary.length;


        children.innerText = `${respondido}/${total}`
      }

      function callGetSituacao(div, regionalName){
        var apiUrl = `bff/situacao?regionalName=${regionalName}`
        fetch(apiUrl,{
          method: 'GET'
        }).then(response => {
          return response.json();
        }).then(data => {
          console.log(data)

           setRegionalInfo(div,data)
            
        }).catch(err => {
          console.log("---ERROR---", err)
          // Do something for an error here
        });
      }

      function callGetRegionais(div){
        var apiUrl = `bff/regionais`
        fetch(apiUrl,{
          method: 'GET'
        }).then(response => {
          return response.json();
        }).then(data => {
          console.log(data)

          for (const regional of data) {
            let regionalDiv = addRegional(div,  regional);
            callGetSituacao(regionalDiv, regional.NOME_REGIONAL)
          }

        }).catch(err => {
          console.log("---ERROR---", err)
          // Do something for an error here
        });
      }

      </script>

    <br />
    <footer><%- include('../partials/footer'); %></footer>
  </body>
</html>
