<title>Alianca Tecnologia</title>

<div>
  <div>
    <h2>Centros Aliança Espírita Evangélica</h2>
    <ul>
      <mat-spinner id='loading' *ngIf="!centroDetail" diameter="100"></mat-spinner>
      <table *ngIf="centroDetail" id="centros_detail">
        <tr *ngFor="let param of params">
          <td>{{param.alias}} </td>
          <td *ngIf="param.name == 'DATA_FUNDACAO'">{{centroDetail[param.name] | date:'d/M/yyyy'}}</td>
          <td *ngIf="param.name != 'DATA_FUNDACAO'">{{centroDetail[param.name]}}</td>
        </tr>
      </table>
      <app-atividades-centro [id]="id"></app-atividades-centro>

    </ul>
  </div>
</div>


<!-- footer -->
<footer>
  <span>created by Alianca Espirita Evangélica</span>
</footer>
