<title>Alianca Tecnologia</title>

<div>
  <div>
    <h2>Centros Aliança Espírita Evangélica</h2>
    <ul>
      <mat-spinner id='loading' *ngIf="!centroDetail" diameter="100"></mat-spinner>
        <table *ngIf="centroDetail" id="centros_detail">
          <tr *ngFor="let param of params">
            <td>{{param.alias}} </td>
            <td *ngIf="param.name == 'DATA_FUNDACAO'">
              <app-edit-inline [ngModel]= "centroDetail[param.name] | date:'yyyy-MM-dd'" (ngModelChange)="centroDetail[param.name] = $event"  type="date"> </app-edit-inline>
            </td>
            <td *ngIf="param.name != 'DATA_FUNDACAO'">
              <app-edit-inline [(ngModel)]="centroDetail[param.name]" type="text"> </app-edit-inline>
            </td>
          </tr>

        </table>
        <button class="btn btn-danger" style="width:100px" (click)="atualizar()"> Editar</button>

        <app-atividades-centro [id]="id"></app-atividades-centro>

    </ul>
  </div>
</div>


<!-- footer -->
<footer>
  <span>created by Alianca Espirita Evangélica</span>
</footer>
