<title>Alianca Tecnologia</title>

<a id="centros"></a>
<!-- <div class="section-hero">
  <div class="container"> -->
<div>
  <div>

    <h2>Centros Aliança Espírita Evangélica</h2>

    <ul>
      <table *ngIf="centroDetail" id="centros">
        <tr>
          <th>Informação</th>
          <th>Valor</th>
        </tr>
        <tr *ngFor="let param of params">
          <td>{{param.alias}} </td>
          <td *ngIf="param.name == 'DATA_FUNDACAO'">{{centroDetail[param.name] | date:'d/M/yyyy'}}</td>
          <td *ngIf="param.name != 'DATA_FUNDACAO'">{{centroDetail[param.name]}}</td>
        </tr>

      </table>

      <button class="btn btn-danger" style="width:100px" (click)="atualizar()"> Editar</button>

    </ul>
  </div>
</div>


<!-- footer -->
<footer>
  <span>created by Alianca Espirita Evangélica</span>
</footer>
