@media screen and (max-width: 1580px) {
  .container {
    padding: 0 2rem;
    background: #fff;
  }
}

#centros_detail {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-left: -15px;
  background: white;
  color: black;
}

#centros_detail td,
#centros_detail th {
  border: 1px solid #ddd;
  padding: 8px;
}

#centros_detail tr:nth-child(even) {
  background-color: #f2f2f2;
}

#centros_detail tr:hover {
  background-color: #ddd;
}
#centros_detail th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #9B81AE;
  color: white;
}

#loading {
  margin: auto;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-size: 54px;
  color: #FFD152;
}

h2 {
  font-size: 42px;
  padding-top:  2px;
  padding-left: 20px;
  margin-bottom: 0px;
  color: #8D8273;
}

h3 {
  font-size: 28px;
  color: #8D8273;
}

h4 {
  font-size: 20px;
  color: #8D8273;
  font-weight: 400;
  margin-bottom: 0;
}

p {
  margin: 20px 0;
  color: #8D8273;
  line-height: 24px;
}

/* footer */

footer {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding: 1em 0;
  background: #282627;
  border-bottom: 0px;
}

footer span {
  color: #8D8273;
  font-weight: 600;
}
