<div>
    <div *ngIf="editing">
      <input [required]="required" (blur)="onBlur($event)" [name]="value" [(ngModel)]="value" [placeholder]="label" [type]="type"/>
    </div>
    <div *ngIf="!editing">
      <div *ngIf="type!='date'">
        <a href="#" (click)="beginEdit(value)" (focus)="beginEdit(value)">{{value}}</a>
      </div>
      <div *ngIf="type=='date'">
        <a href="#" id="date" placeholder="dd-mm-yyyy" (click)="beginEdit(value)" (focus)="beginEdit(value)">{{value.split("-")[2]}}/{{value.split("-")[1]}}/{{value.split("-")[0]}}</a>
      </div>
    </div>
  </div>
  