          
<div>
    <div *ngIf="editing">
      <mat-form-field>
        <input  matInput [required]="required" (blur)="onBlur($event)" [name]="value" [(ngModel)]="value" [placeholder]="label" [type]="type"/>
      </mat-form-field>
    </div>
    <div *ngIf="!editing">
      <div >
        <table>
          <tr>
            <th *ngIf="type!='date'">
              <p  (click)="beginEdit(value)" (focus)="beginEdit(value)">{{value}}</p>
            </th>
            <th *ngIf="type =='date'">
              <p id="date" placeholder="dd-mm-yyyy" (click)="beginEdit(value)" (focus)="beginEdit(value)">{{valueFormated}}</p>
            </th>
            <th>
              <mat-icon svgIcon="pen" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
            </th>
          </tr>
        </table>
      </div>
    </div>
  </div>
  